<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Form</title>
    <script>
        function checkDates(form){
            var date = new Date();
            var todayDate = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var todayTimeStamp = todayDate.getTime()

            var startDate = new Date(form.startTime.value)
            var startTimeStamp = startDate.getTime()

            var endDate = new Date(form.endTime.value)
            var endTimeStamp = endDate.getTime()

            if (startTimeStamp <= todayTimeStamp) {
                alert("starting date should be after today")
                form.startTime.focus();
                return false
            }

            if (endTimeStamp < startTimeStamp) {
                alert("End Date can not be earlier than Start date")
                form.endTime.focus();
                return false
            }

            var days = endTimeStamp-startTimeStamp;
            days = days/(1000*60*60*24)

            if(form.leaveType.value === 'CL')
            {
                if(days > <%= user.leavesLeft.cl %>)
                {
                    alert("Only <%= user.leavesLeft.cl %> CL left")
                    return false
                }
            }

            if(form.leaveType.value === 'RH')
            {
                if(days > <%= user.leavesLeft.rh %>)
                {
                    alert("Only <%= user.leavesLeft.rh %> RH left")
                    return false
                }
            }

            if(form.leaveType.value === 'EL')
            {
                if(days > <%= user.leavesLeft.el %>)
                {
                    alert("Only <%= user.leavesLeft.el %> EL left")
                    return false
                }
            }

            //vacation leave logic
            return true
        }
    </script>
</head>
<body>

    <form method="POST" onsubmit="return checkDates(this)">
        <div class="form-group mb-2">
            <label for="regis-username">Name</label>
            <input id="regis-username" type="text" name="username" class="form-control " value="<%=user.name%>" disabled>
        </div>
        <div class="form-group mb-2">
            <label>Email
                <input type="email" name="email" class="form-control" value="<%=user.email%>" disabled>
            </label>
        </div>
        <div class="form-group mb-2">
            <label>Mobile Number
                <input type="tel" name="mobile" class="form-control" value="<%=user.mobile%>" disabled>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>Designation
                <input type="text" name="designation" class="form-control" value="<%=user.designation%>" disabled>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>Department
                <input type="text" name="department" class="form-control" value="<%=user.department%>" disabled>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>From
                <input type="date" name="startTime" class="form-control" required>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>To
                <input type="date" name="endTime" class="form-control" required>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>Leave Type
               <select name="leaveType" required>
                   <option name="CL">CL</option>
                   <option name="RH">RH</option>
                   <option name="HPL">HPL</option>
                   <option name="EL">EL</option>
                   <option name="Commuted">Commuted</option>
                   <option name="Comp-off">Comp-off</option>
               </select>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>Reason
                <input type="text" name="reason" class="form-control" required>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>Address During Leave
                <input type="text" name="addressDuringLeave" class="form-control" required>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>Person taking charge of duties
                <input type="email" name="replacement" class="form-control" required>
            </label>
        </div>
        <div class="form-group mb-3">
            <label>I propose to avail myself of leave travel concession(LTC) in the block years during the ensuing leave
                <input type="checkbox" name="LTC" class="form-control">
            </label>
        </div>
        <input type="submit" value="Apply" class="btn btn-primary-site">
        </form>
</body>
</html>