<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        function checkDates(form){
            var date = new Date();
            var todayDate = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var todayTimeStamp = todayDate.getTime()
            todayTimeStamp += (330 * 60 * 1000)

            var startDate = new Date(form.startTime.value)
            var startTimeStamp = startDate.getTime()

            var endDate = new Date(form.endTime.value)
            var endTimeStamp = endDate.getTime()

            if (startTimeStamp <= todayTimeStamp) {
                alert("starting date should be after today")
                form.startTime.focus();
                return false
            }

            if (endTimeStamp < startTimeStamp) {
                alert("End Date can not be earlier than Start date")
                form.endTime.focus();
                return false
            }

            var days = endTimeStamp-startTimeStamp;
            days = parseInt(days / (1000*60*60*24)) + 1

            if(form.leaveType.value === 'CL')
            {
                if(days > <%= user.leavesLeft.cl %>)
                {
                    alert("Only <%= user.leavesLeft.cl %> CL left")
                    return false
                }
            }

            if(form.leaveType.value === 'RH')
            {
                if(days > <%= user.leavesLeft.rh %>)
                {
                    alert("Only <%= user.leavesLeft.rh %> RH left")
                    return false
                }
            }

            if(form.leaveType.value === 'EL')
            {
                if(days > <%= user.leavesLeft.el %>)
                {
                    alert("Only <%= user.leavesLeft.el %> EL left")
                    return false
                }
            }

            if(form.leaveType.value === 'HPL')
            {
                if(days > <%= user.leavesLeft.hpl %>)
                {
                    alert("Only <%= user.leavesLeft.hpl %> HPL left")
                    return false
                }
            }

            if(form.leaveType.value === 'Vacation')
            {
                if(days/2.0 > <%= user.leavesLeft.el %>)
                {
                    alert("Only <%= user.leavesLeft.el %> EL left")
                    return false
                }
            }
            //vacation leave logic
            return true
        }
    </script>
</head>
<body>
    <div class="card-deck" style="margin:20px;">
        <div class="card">
            <div class="card-body">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>
                            IIITL Employee Leave Portal
                        </h2>
                        <div class="panel-toolbar">
                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            
                            <form method="POST" onsubmit="return checkDates(this)">
                                <div class="form-group mb-3">
                                    <label>Name
                                        <input id="regis-username" type="text" name="username" class="form-control " value="<%=user.name%>" disabled/>
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Email
                                        <input  type="email" name="email" class="form-control " value="<%=user.email%>" disabled/>
                                    </label>
                                </div>
                                <label>Designation
                                    <input type="text" name="designation" class="form-control" value="<%=user.designation%>" disabled>
                                </label>
                                
                                <div class="form-group mb-3">
                                    <label>Department
                                        <input type="text" name="department" class="form-control" value="<%=user.department%>" disabled>
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label>From
                                        <input type="date" name="startTime" class="form-control" >
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label>To
                                        <input type="date" name="endTime" class="form-control" >
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Leave Type
                                        <select name="leaveType" required>
                                            <option name="CL">Casual Leave</option>
                                            <option name="RH">Restricted Holiday</option>
                                            <option name="EL">Earn Leave</option>
                                            <option name="HPL">Half Pay Leave</option>
                                            <option name="Commuted">Commuted</option>
                                            <option name="Vacation">Vacation Leave</option>
                                            <option name="Maternity">Maternity Leave</option>
                                            <!-- <option name="Comp-off">Comp-off</option>s -->
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Reason
                                        <input type="text" name="reason" class="form-control" >
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Address During Leave
                                        <input type="text" name="addressDuringLeave" class="form-control" >
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Person taking charge of duties
                                        <input type="email" name="replacement" class="form-control" >
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <label>I propose to avail myself of leave travel concession(LTC) in the block years during the ensuing leave
                                        <input type="checkbox" name="LTC" class="form-control">
                                    </label>
                                </div>
                                <input type="submit" value="Apply" class="btn btn-primary-site ">
                                
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>